@import('./font-awesome.css')
@font-face
  font-weight 200
  font-family 'suckosn-font1'
  font-style normal
  src: url(../fonts/STLITI.TTF)
html, body
  margin 0
  padding 0
  width 100%
  height 100%
body
  font-family: source sans pro,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #788188;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

#app 
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;

a:hover, a:focus {
    color: #303437;
    text-decoration: none;
}