.su-btn-radius-1{
  border-radius: 1%;
}
.su-btn-radius-2{
  border-radius: 2%;
}
.su-btn-radius-3{
  border-radius: 3%;
}
.su-btn-radius-4{
  border-radius: 4%;
}
.su-btn-radius-5{
  border-radius: 5%;
}
.su-btn-radius-6{
  border-radius: 6%;
}
.su-btn-radius-7{
  border-radius: 7%;
}
.su-btn-radius-8{
  border-radius: 8%;
}
.su-btn-radius-9{
  border-radius: 9%;
}
.su-btn-radius-10{
  border-radius: 10%;
}