.su-btn
  display inline-block
  cursor pointer
  font-weight 400
  text-align center
  white-space nowrap
  vertical-align middle
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  border 1px solid #dcdfe6
  outline none 
  background #fff
  color #606266
  padding 0.375rem 0.75rem
  font-size 0.8rem
  line-height 1.5
  border-radius 0.25rem
  transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
.su-btn.is-round {
    border-radius: 20px;
}
.su-btn.is-circle {
    border-radius: 50%;
    padding: 11px 15px;
}
.su-btn-default:focus, .su-btn-default:hover 
    color #409eff
    border-color #c6e2ff
    background-color #ecf5ff
.su-btn-default.is-plain:focus, .su-btn-default.is-plain:hover{
  background: #fff;
  border-color: #409eff;
  color: #409eff;  
}
.su-btn-primary {
    color: #fff;
    background-color: #3399FF;
    border-color: #3399FF;
}
.su-btn-primary:hover,.su-btn-primary:focus {
  color #fff
  background-color #1188ff
  border-color #1188ff
}
.su-btn-primary:active {
  color: #fff;
  background-color: #0079f2
  border-color:#0079f2
}
.su-btn-primary.is-plain{
  background: #fff;
  border-color: #409eff;
  color: #409eff; 
}
.su-btn-primary.is-plain:focus, .su-btn-primary.is-plain:hover{
  color: #fff;
  background-color: #3399FF;
  border-color: #3399FF;
}
// .is-plain{
//   background: #fff;
//   border-color: #409eff;
//   color: #409eff;
// }
.su-btn-secondary {
  color #fff;
  background-color #69737b
  border-color #69737b
}
.su-btn-secondary:hover, .su-btn-secondary:focus{
  color #fff
  background-color #555e65
  border-color #555e65
}
.su-btn-secondary:active {
  color #fff
  background-color #4f555a
  border-color #4f555a
}
.su-btn-secondary.is-plain{
  background: #fff;
  border-color: #69737b;
  color: #69737b; 
}
.su-btn-secondary.is-plain:focus, .su-btn-secondary.is-plain:hover{
  color #fff;
  background-color #69737b
  border-color #69737b
}
.su-btn-success {
  color #fff;
  background-color #33CC66;
  border-color #33CC66;
}
.su-btn-success:hover, .su-btn-success:focus{
  color #fff
  background-color #2eb75b
  border-color #2eb75b
}
.su-btn-success:active {
  color #fff;
  background-color #28a745
  border-color #28a745
}
.su-btn-success.is-plain{
  background: #fff;
  border-color: #33CC66;
  color: #33CC66; 
}
.su-btn-success.is-plain:focus, .su-btn-success.is-plain:hover{
  color #fff;
  background-color #33CC66;
  border-color #33CC66;
}
.su-btn-info {
  color #fff;
  background-color #1fafc5
  border-color #1fafc5
}
.su-btn-info:hover, .su-btn-info:focus{
  color: #fff;
  background-color #17a2b8
  border-color #17a2b8
}
.su-btn-info:active {
  color: #fff;
  background-color #229caf
  border-color #229caf
}
.su-btn-info.is-plain{
  background: #fff;
  border-color: #17a2b8;
  color: #17a2b8;
}
.su-btn-info.is-plain:focus, .su-btn-info.is-plain:hover{
  color: #fff;
  background-color #17a2b8
  border-color #17a2b8
}
.su-btn-warning {
  color: #fff;
  background-color #eac24b
  border-color #eac24b
}
.su-btn-warning:hover, .su-btn-warning:focus{
  color: #fff
  background-color:  #e4ba3cfc
  border-color:  #e4ba3cfc
}
.su-btn-warning:active {
  color #fff
  background-color #d8b13b
  border-color #d8b13b
}
.su-btn-warning.is-plain{
  background: #fff;
  border-color: #eac24b;
  color: #eac24b;
}
.su-btn-warning.is-plain:focus, .su-btn-warning.is-plain:hover{
  color: #fff;
  background-color #eac24b
  border-color #eac24b
}
.su-btn-danger {
  color: #fff;
  background-color: #ef5564;
  border-color #ef5564;
}
.su-btn-danger:hover, .su-btn-danger:focus{
  color #fff
  background-color #e84c5b
  border-color #e84c5b
}
.su-btn-danger:active {
  color #fff
  background-color #dc3545
  border-color #dc3545
}
.su-btn-danger.is-plain{
  background: #fff;
  border-color: #ef5564;
  color: #ef5564;
}
.su-btn-danger.is-plain:focus, .su-btn-danger.is-plain:hover{
  color: #fff;
  background-color #ef5564
  border-color #ef5564
}
.su-btn-dark {
  color #fff
  background-color #343a40
  border-color #343a40
}
.su-btn-dark:hover, .su-btn-dark:focus{
  color #fff
  background-color #1b1f23
  border-color #1b1f23
  outline none
}
.su-btn-dark :active {
  color #fff
  background-color #2c3135
  border-color #2c3135
}
.su-btn-dark.is-plain{
  background: #fff;
  border-color: #343a40;
  color: #343a40;
}
.su-btn-dark.is-plain:focus, .su-btn-dark.is-plain:hover{
  color: #fff;
  background-color #343a40
  border-color #343a40
}
.su-btn-link {
  color #3896ff;
  background-color #f8f9fa
}
.su-btn-link:hover,.su-btn-link:focus {
  background-color #cdsds
  text-decoration underline
}
.su-btn-link:active {
  background-color #cdsds
}
.su-btn-link.is-plain{
  background:rgba(255,255,255,0.8);
  border-color: #3896ff;
  color: #3896ff;
}
.su-btn-link.is-plain:focus, .su-btn-link.is-plain:hover{
  background:rgba(255,255,255,0.9);
  border-color #3896ff
}
.su-btn-text {
  color #3896ff;
  background: rgba(0,0,0,0)
}
.su-btn-text:hover,.su-btn-text:focus {
  color: #2c7bd4;
}
.su-btn-text:active {
  color: #2c7bd4
}